.bannerright{
    
    float: right;
    /* background-color: grey; */
    /* border: 1px solid grey; */
    display: block;
    width: 75%;
    /* margin-left: 232px; */
    /* height:200px; */
   
    
}