.bannerheader{
    padding:20px;
     background-color: #934653;
     color:white;
     border-bottom:1px solid white; 

}

.bannerheader__h1{
    float: left;
    margin: -10px 0px 0px 30px;
    
}
.bannerheader__icon{
    float:right; 
    margin: -12px 35px 0px 0px;

}
.bannerheader__anchor{
    content: url(../../images/menu.png);
    color: white;
}
.content{
    color: black;
   
}
.content__header{
    display: block;
    width:255px;
    height: 40px; 
   font-size: 20px;
   padding-top: 10px;
    background-color: red;  
    color: whitesmoke;
}
.content__pregnancy{
    display: block;
    width:255px;
    height: 40px; 
   font-size: 20px;
   margin-top:15px; 
  color: red;
    border-bottom:1px solid grey;

    

}
.content__infirtility{
    display: block;
    width:255px;
    height: 40px;
    margin-top:15px; 
    font-size: 20px;
    color: red; 
    padding-bottom: 25px;
    
}
.content__pregnancy--marginleft{
    margin:0px 150px 0px 28px; 
}
.content__infirtility--marginleft{
    margin:0px 150px 0px 28px;   
}
.button{
    display: block;
    width:255px;
    height: 40px;
    margin-top:35px; 
    font-weight: bold;
    font-size: 20px;
    color: red; 
    

}
.button--marginright{
    margin: 70px;
    border-top: 1px solid grey;
   padding:18px 15px 0px 0px;
}