.medicalcondition__component{
    width:900px; 
    height: 80px;
/* border-bottom:2px solid grey;
border-top:none;
border-right:none; */
border:none;
background-color: white;
outline: none;
color: grey;
text-align: left;
margin: 20px 0px 5px 0px;
padding-left:80px; 
/* font-family: roboto medium; */
font-size: x-large;
}
.medicalcondition__component:hover{
color: red;
}