@import './variables.scss';
 .Header__ArrowLink{
    background: url(../images/backIocn.png) no-repeat ; 
    text-indent: -99999em; 
    float: left;
    margin: 0px 0px 0px 95px;
    width: 20px;
 }
 .Header__HambergerLink{
    background: url(../images/ProfileCancel.png) no-repeat;
    text-indent: -99999em; 
    width: 35px;  
    height: 30px;
    position: absolute;
    right: 65px;
    top: 45px;
 }
  