@import './variables.scss';
.Link__Properties{
    font-family: $fontFamily--robotoMedium;position: absolute;font-size: 13px;text-decoration: none;color: #f95151;
}
.border__Properties{
    position: absolute;border: 0.5px solid #c3c3c3; 
}
.DeleteIcon__properties{
    position: absolute;right: 20px;
}
.PatientDetailsDelet{
    
     width: 270px;height: 285px;background-color: #ffffff;
    &__upArrow{
        border: solid #f95151;border-width: 0px 10px 10px 0; padding: 4px;-ms-transform: rotate(-135deg);
        transform: rotate(-135deg);-webkit-transform: rotate(-135deg);position: absolute;left: 225px;bottom: 275px;
    }
    &__Header{
        width: 270px;height: 50px;background-color: #f95151;
    }
    &__Heading{
        color: #ffffff;  
        font-family: $fontFamily--robotoMedium;font-size: 13px;
        padding: 25px 0px 0px 25px;
    }
    &__Content{
        position: relative;
    }
    &__PregnancyTitle{ 
        @extend .Link__Properties;top: 20px;left: 25px;  
    }
    &__EnableDeletLink{
        @extend .DeleteIcon__properties;top: 20px;
    }
    &__Pregnancyborder{
        @extend .border__Properties;width: 250px;top: 60px;left: 10px;
    }
    &__InfertiliryTitle{
        @extend .Link__Properties;top: 90px;left: 25px;color: #8c8c8c;
    }
    &__ActiveDeletLink{ 
        @extend .DeleteIcon__properties;top: 90px;
    }
    &__Infertilityborder{
        @extend .border__Properties;width: 180px;top: 170px;left: 75px;
    }
    &__AddNewCondition{
        @extend .Link__Properties;font-size: 12px;top: 190px;right: 25px; 
        font-weight: bold;
    }
}