@import './variables.scss';
        
.TotalPatients{ 
        width: 960px; 
        background-color: #4c4c4c; 
        margin: 15px 0px 0px 10px; 
        margin: -110px 0px 0px 135px; padding-top: 10px;
        &__UnorderList{ 
            width: 940px;background-color: #ffffff;padding: 12px 0px 12px 0px; 
            border-bottom: 1px solid #bfbfbf;
            border-top: 1px solid #bfbfbf; 
            margin: 0px 0px 5px 10px;
        }
        &__ListItem{
            display: inline-block;vertical-align: middle;text-align: center;
        }
        &__PatientName{
            font-size: 13px;color: #f47564;font-family: $fontFamily--robotoMedium;  
            font-weight: bold;
        }
        
        &__PhoneIcon{
            background: url(../images/MobileIcon.png) no-repeat;text-indent: -99999em; float: left;
        }
        &__PatientNumber{
            float: left;font-size: 12px;font-family: $fontFamily--robotoRegular;color: #a8a8a8;
        } 
        .PatientPhoneNumber--width{width: 30%;}
        .PatientName--width{width: 35%;}
        .PatientImage--width{width: 10%;}
}
.TotalPatientsList{
    background-color: $bgColor--gray; 
    margin: 0px;
    width: 100%;
    padding-top: 70px;
    &__UnorderList{ margin-left: 25px;@extend .TotalPatients__UnorderList; width: 1215px;}
    &__ListItem{@extend .TotalPatients__ListItem;}
    &__PatientName{@extend .TotalPatients__PatientName;}
    &__PhoneIcon{@extend .TotalPatients__PhoneIcon;}
    &__PatientNumber{@extend .TotalPatients__PatientNumber;}
    .PatientPhoneNumber--width{width: 30%;}
    .PatientName--width{width: 35%;}
    .PatientImage--width{width: 20%;}
    .Bg--color{
        background-color: #f8f8f8;
        border-top: none;
    }
}